@import "tailwindcss";
@import "./styles/variables.css";
@import "./styles/globals.css";
@import "./styles/loader.css";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "JetBrains Mono", monospace;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}